// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

:root {
    --primary-500: #744A9D;
    --primary-200: #eae4f0;
    --green-500: #0FB159;
    --green-200: #dcf4e7;
    --red-500: #DD2E16;
    --red-200: #f9e0dc;
    --violet-500: #BB33DD;
    --violet-200: #f4e0f9;
    --yellow-500: #F5BF00;
    --yellow-200: #fdf7db;
    --teal-500: #03B8B8;
    --teal-200: #dbf5f5;
    --text-500: #22313F;
    --text-400: #818890;
    --text-300: #a6acb2;
    --text-200: #e5e7e8;
    --text-100: #f5f6f6;
    --bg-light: #FFFFFF;
    --bg-dark: #F2F3F4;
}